:root {
  // fonts
  --main-font-family: "Poppins", sans-serif;

  // colors
  --bg-main-color: #0b0b1d;
  --color-white: #fff;
  --color-purple-light: #9696b9;
  --color-purple-light-1: #5c5c8c;
  --color-purple-dark: #2d2d57;
  --color-pink: #ff39b0;
  --color-pink-light: #ff39b01f;
  --color-light-blue: #00ebff;
  --color-gray: #9090a4;
}
