@import "new_styles/abstract/mixins";

.container {
  display: grid;
  grid-template-columns: 52.7rem 1fr;
  grid-column-gap: 5.6rem;
  grid-row-gap: 2.4rem;
  padding-top: 1.7rem;

  @include respond(md) {
    grid-template-columns: 1fr 40rem;
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

.left {
  display: flex;
  flex-direction: column;

  &__inputs {
    margin-top: auto;

    & > * + * {
      margin-top: 1.7rem;
    }
  }
}

.title {
  font-size: 3.4rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;

  @include respond(sm) {
    font-size: 3rem;
  }
}

.subtitle {
  color: #67677e;
  font-size: 1.7rem;
  margin-bottom: 3rem;
  font-weight: 300;
  display: block;

  @include respond(sm) {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  @include respond(xs) {
    font-size: 1.5rem;
  }
}

.info {
  @extend .subtitle;
  margin-bottom: 4.8rem;

  @include respond(sm) {
    margin-bottom: 3rem;
  }
}

.right {
}

.bottom {
  grid-column: 1 / -1;

  & > * + * {
    margin-top: 2.5rem;
  }
}

.mint {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;

    & span {
      font-size: 1.3rem;
      color: var(--color-light-blue);
      font-weight: bold;
      margin-bottom: 1.1rem;
      line-height: 1;
    }

    & button {
      border: none;
      font-size: 1.3rem;
      color: var(--color-pink);
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: none;
      font-weight: bold;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.4rem;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include respond(xs) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }

  &__no-mint-message {
    text-align: center;
    font-size: 1.3rem;
    color: #67677e;
    margin: 0;
    padding: 2rem 1.6rem;
  }
}

.actions {
  margin-top: 3.3rem;
}
.dialog {
  background-color: #080a0b;
  color: #d0d0d0;
  border: 0.2rem solid #979696;
  border-radius: 1rem;
  overflow: hidden;

  & > div:first-of-type {
    background-color: #080a0b;
    border-bottom: 0.1rem solid #464646;
    padding: 1.3rem 1.3rem 1.3rem 2rem;

    & h4 {
      color: #d0d0d0;
    }
  }

  & p {
    line-height: 1.6;
    word-break: break-all;
  }

  & a {
    margin-bottom: 1rem;
    display: block;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }
}

.mint-progress-bar {
  height: 0.4rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #464646;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.mint-progress {
  width: 0%;
  height: 100%;
  background-color: var(--color-pink);
  display: block;
  transition: width 0.5s;
}
