*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font-family);
  background-color: var(--bg-main-color);
  color: var(--color-white);
  min-height: 100vh;
}

a {
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  background-color: #c2c2c2;
}
