@import "new_styles/abstract/mixins";

.container {
  margin-bottom: 2.9rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-right: 2rem;

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }
}

.sort {
  & > span {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-right: 1.4rem;

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }

  & select {
    background: none;
    color: #9696b9;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-right: 1rem;

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }
}
